<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wtillett.ClassTracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_hat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_hat_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.wtillett.ClassTracker.AssessmentsInTheNextWeekActivity" />
        <activity android:name="com.wtillett.ClassTracker.CoursesPerTermActivity" />
        <activity android:name="com.wtillett.ClassTracker.ReportActivity" />

        <receiver
            android:name="com.wtillett.ClassTracker.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.wtillett.ClassTracker.MentorDetailActivity"
            android:parentActivityName="com.wtillett.ClassTracker.CourseDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wtillett.ClassTracker.CourseDetailActivity" />
        </activity>
        <activity
            android:name="com.wtillett.ClassTracker.AssessmentDetailActivity"
            android:parentActivityName="com.wtillett.ClassTracker.AssessmentActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wtillett.ClassTracker.AssessmentActivity" />
        </activity>
        <activity
            android:name="com.wtillett.ClassTracker.CourseDetailActivity"
            android:parentActivityName="com.wtillett.ClassTracker.CourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wtillett.ClassTracker.CourseActivity" />
        </activity>
        <activity
            android:name="com.wtillett.ClassTracker.TermDetailActivity"
            android:parentActivityName="com.wtillett.ClassTracker.TermActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wtillett.ClassTracker.TermActivity" />
        </activity>
        <activity
            android:name="com.wtillett.ClassTracker.AssessmentActivity"
            android:label="@string/title_activity_assessment"
            android:parentActivityName="com.wtillett.ClassTracker.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wtillett.ClassTracker.MainActivity" />
        </activity>
        <activity
            android:name="com.wtillett.ClassTracker.CourseActivity"
            android:label="@string/title_activity_course"
            android:parentActivityName="com.wtillett.ClassTracker.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wtillett.ClassTracker.MainActivity" />
        </activity>
        <activity
            android:name="com.wtillett.ClassTracker.TermActivity"
            android:label="@string/title_activity_term"
            android:parentActivityName="com.wtillett.ClassTracker.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wtillett.ClassTracker.MainActivity" />
        </activity>
        <activity
            android:name="com.wtillett.ClassTracker.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>